# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.dylib

# Test binary, built with `go test -c`
*.test

# Folders
_obj
_test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Sublime Text
.sublime-workspace
# Directory-based project format:
.idea/*
../.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

# security / ssl
*.xxjson

# Dependency directories (remove the comment below to include it)
# vendor/
